<div class="span12" >
  <div class="span2" style="margin-left: 0;">План <img src="http://api.yandex.com/maps/doc/jsapi/2.x/ref/images/styles/darkgreen.png"></div>
  <div class="span2" style="margin-left: 0;">Факт <img src="http://api.yandex.com/maps/doc/jsapi/2.x/ref/images/styles/blue.png"></div>
  <div class="span3" style="margin-left: 0;">Факт: нарушено время <img src="http://api.yandex.com/maps/doc/jsapi/2.x/ref/images/styles/darkorange.png"></div>
  <div class="span3" style="margin-left: 0;">Факт: вышел вне точки <img src="http://api.yandex.com/maps/doc/jsapi/2.x/ref/images/styles/night.png"></div>
  <div class="span2" style="margin-left: 0;">Не по плану <img src="http://api.yandex.com/maps/doc/jsapi/2.x/ref/images/styles/red.png"></div>
</div>
<div class="clearfix"></div>
<br>