<center>
  <h4>Ошибка 404</h4>
  <h3>Страница не найдена</h3>
  <h4><a href="/">На главную</a></h4>
  <br>
  {if isset($message) and $message }
  <hr />
  <h2 style="color: purple;">{$message}</h2>
  {/if} 
</center>