{if isset($result)}
<div id="result" style="background-color: silver;">
{$result}
</div>
{/if}
<a id="log_result" href="javascript:;">LOG RESULT</a>
<script type="text/javascript">
$(document).ready(function(){
  $('#log_result').click(function(){
    console.log( $.parseJSON($('#result').text()) );
  });
});
</script>
<br><br>
<ul>
  <li><a href="/android">Login</a></li>
  <li><a href="/android/sync">Sync</a></li>
</ul>