{include file="android/menu.tpl"}
<br>
<form action="/android" method="post">
action <input type="text" name="action" value="{$request->post('action')}" /><br>
device <input type="text" name="device" value="{$request->post('device')}" /><br>
password<input type="password" name="password" value="{$request->post('password')}"><br>
<br>
<input type="submit" name="submit" value="send">
</form>