<div class="pop-bask none">  
  <div class="horline2px"></div>
  <h2>Регистрация</h2>
  <div class="popupmarg clear">
    <div class="registration">
      <input class="popupeinput" name="name" type="text" placeholder="Имя">
      <input class="popupeinput" name="surname" type="text" placeholder="Фамилия">
      <input class="popupeinput" name="email" type="text" placeholder="E-mail">
      <div class="foriconhlder rel">
        <input class="popupepass" name="pass" type="password" placeholder="Пароль">
        <div class="icon eyepass"></div>
      </div>
    </div>
  </div>
  <p class="popupbutt-hold">
    <a class="popupbutt m_b_sel">
      Зарегистрироваться
    </a>
  </p>
</div>