{if isset($result) and $result}
<h4>{$result}</h4>
{/if}
<form name="addApiUser" action="/settings" method="post">
  <select name="staff">
  {foreach from=$staff item=s}
    <option value="{$s->id}">{$s->name}</option>
  {/foreach}
  </select>
  <br>
  pass: <input type="text" name="password"><br>
  device: <input type="text" name="device"><br>
  <input type="submit" name="submit" value="add">
</form>