<div class=" well">
  <legend>{if $d->isLoaded()}Редактировать{else}Добавить{/if} настройки</legend>
  <form accept-charset="UTF-8" action="" method="post">
    <input type="hidden" name="id" value="{$d->id_staff}">
    {if $d->isLoaded()}{$d->device}{/if}<br/><br/>

    {assign var="cur_id" value=""}
      {foreach from=$staff item=s}
             
      {if $s.id_set!=$cur_id} 
              {if $cur_id neq ""}<!-- Ставим доп поле -->        
        <input class="span3" type="text" name="int_{$s.alias}[]" value="" style="float:left;" />
        <input class="span3" type="text" name="str_{$s.alias}[]" value="" style="float:left;" />
        <textarea class="span3" type="text" name="text_{$s.alias}[]" style="float:left;" /></textarea>
        <input class="span3" type="text" name="bool_{$s.alias}[]" value="" />
        {/if}
              {assign var="cur_id" value=$s.id_set}
             
              {/if} <hr/><b>{$s.name|stripslashes}</b> <hr/>
        <!-- val_int -->
        <input class="span3" type="text" name="int_{$s.alias}[]" value="{$s.val_int|stripslashes}" style="float:left;" />
        <input class="span3" type="text" name="str_{$s.alias}[]" value="{$s.val_str|stripslashes}" style="float:left;" /> 
        <textarea class="span3" type="text" name="text_{$s.alias}[]" style="float:left;" />{$s.val_text|stripslashes}</textarea> 
        <input class="span3" type="text" name="bool_{$s.alias}[]" value="{$s.val_bool|stripslashes}" />
        <hr/>
              {/foreach}
              {if $cur_id neq ""}<!-- Ставим доп поле -->        
        <input class="span3" type="text" name="int_{$s.alias}[]" value="" style="float:left;" /> 
        <input class="span3" type="text" name="str_{$s.alias}[]" value="" style="float:left;" /> 
        <textarea class="span3" type="text" name="text_{$s.alias}[]" style="float:left;" /></textarea> 
        <input class="span3" type="text" name="bool_{$s.alias}[]" value="" />
        {/if}
        <hr/>
    <br>
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <a class="btn" href="/backend/devices">Отмена</a>
  </form>
</div>