<html>
<head>
<title>LOGIN</title>
</head>
<body>
<h3>Loading...</h3>
<script type="text/javascript">
  if ( window.opener ){
    window.opener.location.reload();
  } else {
    window.parent.location.reload();
  }  
  window.close();
</script>
</body>
</html>