<h3>Подтверждение регистрации на сайте {$smarty.server.SERVER_NAME}</h3>
Для активации вашего аккаунта пройдите по ссылке<br>
<a target="_blank" href="http://{$smarty.server.SERVER_NAME}{$link}">http://{$smarty.server.SERVER_NAME}{$link}</a>