<div class="row">
  <div class="span12">
    <ul>
      <li><a href="/direction/routes"> Маршруты</a></li>
      <li><a href="/direction/plan"> План/Факт</a></li>
      <li><a href="/direction/sales"> План продаж по клиентам</a></li>
      <li><a href="/direction/sku"> SKU</a></li>
    </ul>
  </div>
</div>